body{
    margin: 0;
    padding: 0;
    background-image: url("Image+Audio-Projet-Personnel/Théatre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <-- clé pour fixer le fond */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton {
    background: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
  }
  
  /* Animation train qui passe */
  .bouton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, rgb(150, 0, 0), rgb(255, 0, 0), rgb(150, 0, 0));
    transition: all 0.5s ease;
    z-index: 0;
  }
  
  /* Texte au-dessus de l'effet */
  .bouton span {
    position: relative;
    z-index: 1;
  }
  
  /* Survol : animation + zoom */
  .bouton:hover::before {
    left: 100%;
  }
  
  .bouton:hover {
    transform: scale(1.2);
  }

.container {
    display: flex;
    justify-content: space-between; /* Espace entre les blocs */
    gap: 20px; /* Espace entre les blocs */
    align-items: center; /* Aligne verticalement les blocs au centre */
}

.Bloc_1, .Bloc_2 {
    background-color: white;
    border-radius: 0px 30px 0px 30px;
    height: 325px;
    width: 325px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Bloc_1 {
    margin-top: 100px; /* Espacement au-dessus de Bloc_1 */
    margin-bottom: 40px; /* Espacement sous Bloc_1 */
}

.Bloc_2 {
    margin-bottom: 40px; /* Espacement sous Bloc_2 */
    margin-top: 100px; /* Espacement au-dessus de Bloc_1 */
}
